.welcome{
	h3{
		font-weight: 600;
		font-size: 35px;
		color: $primary_color;
	    padding: side-values(0 5px 14px 0);
	}
	p{
		font-size: 20px;
		color: #333;
		line-height: 35px;
		a{
			color: $primary_color;
			position: relative;
			&:before{
			    content: '';
			    height: 1px;
			    width: calc(100% - 6px);
			    display: inline-block;
			    position: absolute;
			    background: #d48391;
			    bottom: 0;
			}
		}
	}
}
.txt-lineheight30 p{
	line-height: 30px;
}
.content-left-iconbox{
	.heading-modern.heading-1 .after-title{
		letter-spacing: 0;
		&:before{
			bottom: 4px;
		}
	}
	
	.elementor-text-editor{
		line-height: 28px;
	}
	.btn.btn-primary{
	    margin-top: 21px;
	    font-size: 15px;
	    padding: 9px 38px;
	    display: table-caption;
	}
}
.box-icon.icon-gradient{
	background: #fff;
	padding: side-values(42px 30px);
	-webkit-box-shadow: 0px 2px 38px 0px rgba(133, 133, 133, 0.1);
	-moz-box-shadow:    0px 2px 38px 0px rgba(133, 133, 133, 0.1);
	box-shadow:         0px 2px 38px 0px rgba(133, 133, 133, 0.1);
	min-height: 290px;
	.elementor-icon{
		font-size: 67px;
		i:before{
			background: -webkit-gradient(linear,left top,left bottom,from(#c44860),to(#f4ae7b));
		    background: linear-gradient(to bottom,#c44860,#f4ae7b);
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
		    -webkit-box-decoration-break: clone;
		    box-decoration-break: clone;
		}
	} 
	
    .elementor-icon-box-title{
    	font-size: 20px;
    	margin-bottom: 13px;
    	font-weight: 600;
    }
    .elementor-icon-box-description{
    	font-size: 15px;
    	line-height: 26px;
    	font-family: $font-default;
    }
    &:hover{
    	background: -webkit-gradient(linear,left top,left bottom,from(#c44860),to(#f4ae7b));
	    background: linear-gradient(to bottom,#c44860,#f4ae7b);
	    box-shadow: none;
	    .elementor-icon i:before{
	    	color: #fff;
	    	-webkit-text-fill-color: inherit;
	    }
	    .elementor-icon-box-title,
	    .elementor-icon-box-description{
			color: #fff;
	    }
    }
}
.section-why-choose-us{
	.elementor-container.elementor-column-gap-default>.elementor-row>.no-padding{
		padding: 0;
		&.margin-left-25{
			margin-#{$left}: 25px;
		}
		&:last-child{
			margin-#{$right}: 15px;
		}
	}
}

.testimolial-about{
	.testimonial{
		width: 62%;
		.testimonial-content .elementor-testimonial-desc:before{
			#{$left}: -17px;
		}
	}
}
.search {
	.widget_search .search-form.woosearch-search .product-search{
		padding-#{$right}: 50px;
	}
	.searchform .search-no-results{
		width: calc(100% - 30px);
	}
}
@media (max-width: 1199px){
	.search {
		.widget_search .s-no-result-found .search-form.woosearch-search{
			margin-bottom: 78px;
		}
	}
}
@media (max-width: 1024px){
	.testimolial-about .testimonial {
	    width: 100%;
	    padding-#{$right}: 15px;
	    .testimonial-content .elementor-testimonial-desc{
	    	padding-#{$right}: 15px;
	    }
	}
}
@media (max-width: 1199px) and (min-width: 768px) {
	.box-icon.icon-gradient{
		padding: side-values(42px 20px);
		min-height: 315px;
	}
}
@media (max-width: 1024px) and (min-width: 768px) {
	.section-why-choose-us .elementor-container.elementor-column-gap-default>.elementor-row>.no-padding{
		&.margin-left-25{
			margin-#{$left}: 15px;
		}
		width: calc((100% - 30px) / 3);
	}
	
}
@media (max-width: 767px){
	.section-why-choose-us .elementor-container.elementor-column-gap-default>.elementor-row>.no-padding{
		padding: side-values(0 15px);
		&.margin-left-25{
			margin-#{$left}: 0;
		}
		&:last-child{
			margin-#{$right}: 0;
		}
	}
	.welcome p{
		font-size: 18px;
	}
}
@media (max-width: 480px){
	.welcome h3{
		font-size: 32px;
	}
	
}