/*-------------Single Products---------------*/
.woocommerce{
	div.entry-summary{
		.product_title{
			font-size: 25px;
			font-weight: 800;
			margin-bottom: 17px;
			text-transform: uppercase;
			letter-spacing: 0.08em;
			margin-top: -6px;
			line-height: 35px;
		}
		.woocommerce-product-rating{
			display: flex;
			margin-bottom: 7px;
			flex-wrap: wrap;
			.star-rating {
				display: inline-block;
				height: 12px;
				position: relative;
				text-indent: -999em;
				width: 81px;
				margin: side-values(6px 14px 0 0);
				font-size: 14px;
				&:before {
					font-size: 12px;
					position: absolute;
					text-indent: 1px;
					content: "\e021\e021\e021\e021\e021";
					letter-spacing: 4px;
					font-family: WooCommerce;
					#{$left}: 0;
					top: 0;
					color: #fdcf0c;
				}
				span {
					float: none;
					overflow: hidden;
					display: block;
					position: relative;
					font-size: 0;
					height: 12px;
					&:before {
						font-size: 12px;
						position: absolute;
						text-indent: 1px;
						content: "\e020\e020\e020\e020\e020";
						letter-spacing: 4px;
						font-family: WooCommerce;
						#{$left}: 0;
						height: 12px;
						white-space: nowrap;
						top: 0;
						color: #fdcf0c;
					}
				}
			}
			.rating{
				float: none;
				margin: side-values(0 2px 0 9px);
			}
			.woocommerce-review-link{
				span{
					margin-right: 11px;
				}
			}
			.woocommerce-review-link, p{
				line-height: 25px;
				color: #555555;
				float: none;
				font-weight: 500;
				margin: 0;
			}
			p{
				padding-right: 11px;
			}
		}
		.availability{
			margin-top: 16px;
			display: block;
			span.stock{
				color: #6d6b6c;
				font-size: 15px;
			}
		}
		p.price{
			color: $primary_color;
			font-size: 20px;
		}
		span.price{
			font-size: 20px;
		}
		.price{
			margin-bottom: 0;
			ins{
				float: $left;
				padding-top: 8px;
			}
			del, ins, .amount{
				font-weight: 400;
			}
			del{
				color: #6d6b6c;
				span.amount{
					color: #6d6b6c;
				}
			}
			ins, .amount{
				color: $primary_color;
			}
			ins{
				margin-#{$right}: 11px;
			}
			.woocommerce-Price-currencySymbol{
				padding-#{$right}: 4px;
			}
		}
		span.label-product.on-sale.percentage {
			width: 43px;
			height: 43px;
			font-size: 16px;
			margin-bottom: 0;
			&.up-to {
				padding: 0 15px;
				height: 38px;
			}
			span{
				line-height: 42px;
			}
			&.up-to{
				width: auto;
			}
		}
		.product_meta{
			strong{
				display: inline;
				color: #333;
				line-height: 30px;
				font-size: 15px;
			}
		}
		.woocommerce-product-details__short-description{
			margin-top: 23px;
			p{
				letter-spacing: 0;
				margin-bottom: 8px;
				line-height: 26px;
				font-size: 15px;
			}
			strong{
				margin-bottom: 10px;
				display: block;
			}
			ul{
				li{
					font-size: 15px;
					list-style: none;
				}
			}
		}
		strong, label.qty{
			font-size: 15px;
			font-weight: 400;
			color: #333;
			text-transform: capitalize;
			line-height: 30px;
		}
		form.cart{
			margin: 11px 6px 10px 0;
			&.variations_form{
				display: block;
				padding-top: 20px !important;
				~ .compare.button,
				~ .yith-wcwl-add-to-wishlist {
					position: absolute;
					bottom: 4px;
					#{$left}: 290px;
				}
				~ .compare.button{
					#{$left}: 328px;
				}
			}
			.variations{
				display: inherit;
				margin: -15px 0 0;
				background: transparent;
				.attribute-swatch{
					line-height: 100%;
				}
				tbody{
					display: block;
					tr{
						display: block;
						&:last-child{
							td:last-child {
								padding-bottom: 0;
							}
						}
					}
				}
				td {
					width: 100%;
					display: block;
					padding: 0;
					&.label{
						padding-bottom: 15px;
						padding-top: 15px;
						padding-#{$right}: 0;
					}
				}
				label{
					margin-bottom: 0;
					color: #333;
					font-size: 14px;
					font-weight: 800;

				}
				.label {
					text-transform: uppercase;
					font-family: $font-heading;
					letter-spacing: 0.08em;
					line-height: 20px;
					padding-bottom: 5px;
					color: #333;
					span{
						font-weight: 800;
						&.wcva_selected_attribute {
							color: #6d6b6c;
							text-transform: none;
							font-weight: 400;
							font-size: 15px;
							font-family: $font-default;
						}
					}
				}
				select {
					margin-#{$right}: 0;
					border: 1px solid #ccc;
					border-radius: 0;
					height: 40px;
					background: url(../images/caret-down.png) no-repeat $right center;
				}
			}
			.reset_variations{
				font-size: 14px;
				display: block !important;
			}
			.woocommerce-variation-price{
				margin-bottom: 15px;
				padding-top: 10px;
				span.price ins{
					padding-top: 0;
				}
			}
			.stock{
				color: $primary_color;
			}
			.button, .quantity{
				float: none !important;
			}
			label.qty{
				margin-#{$right}: 11px;
			}
			div.quantity{
				vertical-align: middle;
				margin: 0 6px 0 0;
				input::-webkit-outer-spin-button,
				input::-webkit-inner-spin-button {
					-webkit-appearance: none;
				}
				input[type=number] {
					&:focus{
						outline: 0;
					}
				}
			}
			button[type="submit"]{
				padding: 0 32px;
			    text-transform: inherit;
			    font-weight: 400;
			    color: #fff;
			    border: 1px solid transparent;
			    background-color: #c44860;
			    border-radius: 30px;
			    font-size: 15px;
			    height: 45px;
			    font-family: $font-heading;
			    border: 0;
				&:hover{
					background: $highlight_color;
					color: #fff;
				}
			}
			.woocommerce-grouped-product-list.group_table{
				margin-bottom: 30px;
				border: 0;
				thead{
					background: $primary_color;
				    background: -moz-linear-gradient(left, $primary_color 40%, $highlight_color 100%);
				    background: -webkit-gradient(left top, right top, color-stop(40%, $primary_color), color-stop(100%,$highlight_color));
				    background: -webkit-linear-gradient(left, $primary_color 40%, $highlight_color 100%);
				    background: -o-linear-gradient(left, $primary_color 40%, $highlight_color 100%);
				    background: -ms-linear-gradient(left, $primary_color 40%, $highlight_color 100%);
				    background: linear-gradient(to right, $primary_color 40%, $highlight_color 100%);
				    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c44860', endColorstr='#f89979', GradientType=1 );
					th{
						border: none;
						padding: 14px 30px;
						&:first-child{
							width: 69%;
						}
						h4{
							margin: 0;
							color: #fff;
							font-size: 14px;
							text-transform: uppercase;
							line-height: 20px;
							letter-spacing: 0.08em;
							font-weight: 800;
						}
					}
				}
				tbody {
					td{
						padding: 26px 30px 21px;
						text-align: $left;
						border-#{$right}: 1px solid #ccc;
						border-bottom: 1px solid #ccc;
						&:first-child{
							width: 69%;
							border-#{$left}: 1px solid #ccc;
						}
						&:last-child{
							vertical-align: middle;
						}
						&.woocommerce-grouped-product-list-item__label{
							h4{
								margin: 0;
							}
							a{
								font-weight: 500;
								font-size: 16px;
								line-height: 20px;
								letter-spacing: 0.025em;
							}
						}
						label{
							margin-bottom: 4px;
							display: block;
						}
						del, ins{
							background: none;
						}
						del{
							span.amount{
								color: #6d6b6c;
								opacity: 1;
								text-decoration: line-through;
							}
						}
						span.amount{
							color: $primary_color;
						}
						&.woocommerce-grouped-product-list-item__quantity{
							text-align: center;
						}
						.quantity {
							height: 38px;
							min-width: 67px;
							border: 1px solid #ccc;
							width: 67px;
							background-color: #fff;
							input.qty.text {
								color: #ccc;
								font-weight: 400;
								&::placeholder{
									color: #ccc;
									font-weight: 400;
								}
							}
						}
						.qty-number {
							display: none;
						}
						.add-cart-btn{
							a{
								width: 100%;
								text-align: center;
								padding-left: 5px;
								padding-right: 5px;
							}
						}
					}
				}
			}
			&.grouped_form {
				margin-#{$right}: 0;
				margin-bottom: 0;
				padding-bottom: 0;
				+ .yith-wcwl-add-to-wishlist {
					width: 36px;
					height: 36px;
					line-height: 36px;
					float: $right;
					margin-#{$left}: 11px;
					margin-#{$right}: 0;
					position: absolute;
					bottom: 6px;
					#{$left}: 163px;
				}
				~ .compare{
					float: $right;
					position: absolute;
					width: 36px;
					height: 36px;
					line-height: 36px;
					#{$left}: 213px;
					bottom: 6px;
				}
			}
			.wc-no-matching-variations {
				margin-bottom: 30px;
				margin-top: -25px;
			}
		}
		form.cart, .yith-wcwl-add-to-wishlist{
			display: inline-block;
			vertical-align: middle;
		}
		.yith-wcwl-add-to-wishlist,
		.compare.button {
			width: 36px;
			height: 36px;
			text-align: center;
			border-radius: 100%;
			background: #fff;
			border: 1px solid #ededed;
			line-height: 36px;
		}
		.yith-wcwl-add-to-wishlist{
			.yith-wcwl-wishlistexistsbrowse a:before{
				color: $primary_color;
			}
		}
		.yith-wcwl-add-to-wishlist{
			&:hover{
				a{
					&:before{
						color: $primary_color;
					}
				}
			}
			a{
				font-size: 12px;
				padding: 0;
				background: none;
				color: #6d6b6c;
				line-height: 35px;
				display: block; 
				&:hover{
					color: $primary_color;
				}
				&:before{
					color: #6d6b6c;
				}
				span{
					display: none;
				}
			}
		}
		.clear{
			display: none !important;
		}
		.compare.button {
			color: #6d6b6c;
			vertical-align: middle;
			text-indent: -9999em;
			overflow: hidden;
			padding: 0;
			font-size: 11px;
			margin-#{$left}: 8px;
			&.added{
				color: $primary_color;
			}
			&:before{
				font-family: 'themify';
				content: "\e6ac";
				text-indent: 1px;
				display: block;
			}
			&:hover{
				color: $primary_color;
			}		
		}
	}
	p.stars a {
		color: #fec104;
		font-size: 12px;
		margin-#{$right}: 3px;
		&:hover{
			color: $primary_color;
		}
	}
	.single_2 {
		div.entry-summary {
			.woocommerce-product-details__short-description {
				margin-top: 20px;
				p{
					margin-bottom: 2px;
				}
			}
			.availability {
				margin-top: 14px;
			}
		}
	}
	.single_3 div.entry-summary {
		form.cart {
			padding-top: 34px;
		}
		.product_title {
			margin-bottom: 12px;
		}
		.woocommerce-product-rating {
			margin-bottom: 14px;
		}
		.woocommerce-product-details__short-description {
			margin-top: 11px;
		} 
	}
	.single_4 {
		div.entry-summary {
			.product_title {
				margin-top: 12px;
				margin-bottom: 12px;
			}
			.woocommerce-product-rating {
				margin-bottom: 11px;
			}
			.woocommerce-product-details__short-description {
				margin-top: 9px;
			}
			.availability {
				margin-top: 28px;
			}
			.delivery-return {
				padding-top: 16px;
			}
			form.cart{
				margin-#{$right}: 6px;
			}
			.compare.button {
				margin-#{$left}: 3px;
			}
		}
		.woocommerce-tabs .product-tab ul.tabs li {
			margin-#{$right}: 30px;
		}
		#reviews {
			#comments ol.commentlist {
				margin-bottom: 31px;
				li {
					margin-bottom: 13px;
					padding-bottom: 0px;
				}
			}
		}
		.comment-group p {
			width: 100%;
		}
	}
	div.product .single_4 .summary{
		margin-bottom: 0;
	}
	#reviews {
		#comments {
			ol.commentlist li {
				border-bottom: 1px dashed #d8d8d8;
				margin-bottom: 20px;
				padding-bottom: 10px;
				.comment-text {
					margin: 0;
					border: none;
					border-radius: 0;
					padding: 0;
					p.meta {
						font-size: 15px;
						color: #6d6b6c;
						margin-bottom: 15px;
						strong{
							color: $primary_color;
							font-weight: 400;
							font-style: italic;
							text-transform: capitalize;
						}
					}
					.description{
						p {
							color: #333;
							font-size: 18px;
							line-height: 35px;
						}
					}
				}
			}
			h2 {
				font-size: 25px;
				font-weight: 600;
				letter-spacing: 0.025em;
				margin-bottom: 16px;
			}
		}
		.star-rating {
			float: none;
		}
		.review-left {
			padding-#{$right}: 50px;
			min-width: 234px;
			margin-bottom: 20px;
		}
		.review-left, .review-right {
			display: inline-block;
			vertical-align: top;
		}
		#respond.comment-respond{ 
			margin-top: 3px;
		}
		.comment-reply-title {
			letter-spacing: 0.025em;
			display: block;
			float: none;
			width: 100%;
			line-height: normal;
			font-weight: 600;
			margin-bottom: 18px;
			font-size: 20px;
			margin-top: 10px;
		}
		.comment-notes {
			display: none;
		}
		.apsl-login-networks{
			margin-top: 15px;
		}
		#comment {
			height: 150px;
			border-radius: 0;
			resize: none;
			&:hover, &:focus{
				background-color: transparent;
				border: 1px dashed #333
			}
		}
		#review_form .comment-form p{
			margin-bottom: 22px;
			&.stars{
				margin-bottom: 10px;
			}
			&.form-submit{
				margin-top: 30px;
				margin-bottom: 0;
				input#submit {
					color: #fff;
					font-weight: 400;
					font-size: 18px;
					text-transform: none;
					padding: 13px 39px;
					&:hover{
						background-color: $highlight_color;
						border-color: $highlight_color;
					}
				}
			}
		}
	}
	.product-extra ul.products:not(.product-list) {
		li.type-product {
			.price {
				margin-top: 8px;
				font-size: 17px;
			}
			.product-title .product-name {
				font-size: 16px;
			}
		}
		.product-content {
			.top-desc {
				margin-top: 14px;
			}
			.product-desc {
				padding-top: 28px;
				.star-rating {
					margin-top: 17px;
					margin-bottom: 10px;
				}
			}
		}
	}
}
.woocommerce .product-detail + .product-tab{
	.review-right{
	    width: calc(100% - 234px);
		padding-#{$right}: 70px;
	}
	#reviews {
		.review-left, .review-right {
			float: #{$left};
		}
	}
}
.tab-content ul{
	margin: 0;
}

.woocommerce .slimScrollDiv div.entry-summary .yith-wcwl-add-to-wishlist a {
	line-height: unset;
}
em.woocommerce-review__verified.verified {
    display: none;
}
.comment-group{
	margin: 0 -5px;
	clear: both;
	overflow: hidden;
	p{
		width: 50%;
		float: $left;
		padding: 0 10px;
	}
}
.delivery-return {
	padding-top: 14px;
	h4{
		font-size: 18px;
		font-weight: 700;
	}
}
.single-product{
	#elementor-lightbox{
		height: 0 !important;
	}
	.active-sidebar > .widget_product_categories, 
	.active-sidebar > .widget_product_categories + .berocket_single_filter_widget,
	.active-sidebar > .widget_product_categories + .berocket_single_filter_widget + .brand,
	.active-sidebar > .widget_product_categories + .berocket_single_filter_widget + .brand + .berocket_single_filter_widget {
		background-color: #fff;
	}
	.active-sidebar .widget.widget_products .product_list_widget .product-top .product-image img, 
	.active-sidebar .widget.widget_top_rated_products .product_list_widget .product-top .product-image img {
		background-color: #fff;
	}
	.page-footer{
		margin-top: 0;
	}
	.wrapper{
		background-color: #faf9f7;
		padding-top: 110px;
	}
	.side-breadcrumb {
		margin-bottom: 0;
	}
	.static-block{
		padding-top: 0;
	}
	.swatchinput{
		padding-#{$right}: 6px;
		padding-bottom: 0;
		height: 32px;
	}
	label.wcva_single_textblock {
		background: $primary_color;
		border-radius: 0;
		color: #fff;
	}
	.yith-wcbr-brands{
		display: none;
	}
	.show-brands .yith-wcbr-brands{
		display: block;
	}
	&.woocommerce{
		.product-list-thumbnails{
			width: 100%;
			clear: $left;
			.slick-arrow{

			}
			img{
				cursor: pointer;
			}
		}
		.images img.zoomImg {
			display: none!important;
		}

		.woocommerce-product-gallery__trigger{
			display: none;
		} 
	}
	label.error {
		font-size: 13px;
		margin-bottom: 0;
		margin-top: 6px;
	}
	.comment-actions .wpulike {
		#{$right}: 0;
		top: 9px;
		position: absolute;
		z-index: 1;
	}
	.product-detail{
		.label-product{
			#{$left}: 15px;
		}
		div.images figure.woocommerce-product-gallery__wrapper {
			margin-bottom: 10px;
		}
		.product-list-thumbnails{
			.slick-arrow{
				position: absolute;
				display: flex !important;
				align-items: center;
				font-size: 18px;
				justify-content: center;
				i{
					line-height: normal;
				}
			}
			.slick-list{
				margin: 0 -5px;
			}
			.slick-slide{
				padding: 0 5px;
			}
		}
		&.single_1{
			.has-gallery{
				padding: 0 10px;
				.woocommerce-product-gallery__wrapper{
					padding: 0 5px;
				}
			}
			.slick-dots {
				position: absolute;
				#{$left}: 44px;
				top: calc(50% - 4px);
				@include transform(translateY(-50%));
				li {
					height: 74px;
					width: 9px;
					border-radius: 0;
					border: none;
					display: block;
					margin-#{$right}: 0;
					border: none;
					&.slick-active{
						button, &:before{
							border-color: $primary_color !important;
						}
						button{
							background-color: $primary_color;
						}
					}
					&:before{
						position: absolute;
						content: "";
						height: calc(100% - 9px);
						#{$left}: 4px;
						top: 9px;
						border-#{$right}: 1px solid #dfdfdf;
						border-#{$left}: none;
						border-top: none;
						border-bottom: none;
						border-radius: 0;
						width: 1px;
						opacity: 1;
					}
					&:last-child{
						&:before{
							content: none;
						}
					}
					button {
						height: 9px;
						width: 9px;
						background: none;
						top: 0;
						#{$left}: 0;
						visibility: visible;
						border: 1px solid #333;
					}
				}
			}
		}
		&.single_2{
			.slick-dots {
				position: absolute;
				width: 100%;
				bottom: 25px;
				z-index: 1;
				text-align: center;
			}
			.product-list-thumbnails{
				.slick-arrow{
					color: #333;
					width: 20px;
					height: 20px;
					top: 50%;
					transform: translateY(-50%);
					line-height: 18px;
					font-size: 14px;
					&:hover{
						background: none;
						color: $primary_color;
					}
					&.btn-next{
						#{$right}: 15px;
					}
					&.btn-prev{
						#{$left}: 15px;
					}
				}
			}
			+ .product-tab .woocommerce-tabs ul.tabs {
				margin-top: 46px;
			}
		}
		&.single_3, &.single_4{
			.woocommerce-product-gallery__wrapper{
				margin-bottom: 10px;
			}
			.slick-arrow {
				color: #333;
				font-size: 12px;
				font-weight: 700;
				text-transform: uppercase;
				line-height: 31px;
				letter-spacing: 0.08em;
				position: absolute;
				padding: 0 16px;
				border: 1px solid transparent;
				bottom: 20px;
				transform: translateX($translateX);
				&:hover{
					background-color: transparent;
					border-color: #dadada;
				}
				&.btn-prev{
					#{$left}: calc(50% - 34px);
				}
				&.btn-next{
					#{$left}: calc(50% + 34px);
				}
			}
			form.cart {
				margin-#{$right}: 0;
				display: inline-block;
				div.quantity {
					margin-#{$right}: 7px;
				}
			}
		}
		&.single_3{
			div.entry-summary {
				form.cart.variations_form ~ .compare.button,
				form.cart.variations_form ~ .yith-wcwl-add-to-wishlist{
					position: static;
				}
				form.cart {
					margin-bottom: 30px;
				}
			}
		}
		&.single_4{
			@media (min-width: 992px){
				.col-xl-5 .col-xl-6{
					flex: 0 0 100%;
					max-width: 100%;
				}
			}
			.woocommerce-tabs {
				.panel {
					margin-bottom: 0;
				}
				ul.tabs {
					margin-top: 0;
				}
			}
			.product-tab{
				height: 100%;
				border-#{$left}: 1px dashed #ccc;
				border-#{$right}: 1px dashed #ccc;
				padding: 0 30px;
			}
		}

		div.images.woocommerce-product-gallery{
			width: 100%;
		}
		.entry-summary{
			width: 100% !important;
			float: none !important;
			position: relative;
		}
		strong{
			display: inline-block;
		}
	}
	div.product .woocommerce-tabs {
		.panel {
		    margin-bottom: 0;
		}
		ul.tabs{
			padding: 0; 
			margin: 75px 0 13px;
			border: none;
			overflow: visible;
			&:before{
				content: none;
			}
			li{
				border: none;
				border-radius: 0;
				background-color: #fff;
				padding: 0;
				position: relative;
				margin-#{$right}: 30px;
				margin-#{$left}: 0;
				margin-bottom: 30px;
				&:before, &:after{
					height: 25px;
					width: 100%;
					content: "";
					border: none;
					box-shadow: none !important;
					background-size: 100%;
					background-position: bottom;
					background-repeat: no-repeat;
					#{$left}: 0;
				}
				&:before{
					background-image: url("../images/bg-tab-top.png");
					bottom: 100%;
				}
				&:after{
					background-image: url("../images/bg-tab-bottom.png");
					top: 100%;
					background-position: top;
				}
				h4{
					margin: 0;
				}
				a{
					font-size: 14px;
					font-weight: 800;
					color: #333;
					text-transform: uppercase;
					line-height: 20px;
					letter-spacing: 0.08em;
					min-width: 170px;
					text-align: center;
					padding: 11px 10px;
				}
				&.active, &:hover{
					z-index: 1;
					a{
						color: $primary_color !important;
					}
				}
			}
		}
		.woocommerce-Tabs-panel {
			margin: 56px 0 0;
			&.woocommerce-Tabs-panel--description{
				p{
					margin-bottom: 30px;
					strong{
						font-weight: 600;
						color: #000;
						font-size: 18px;
					}
				}
			}
		}
		.tab-content{
			#tab-description{
				p{
					margin-bottom: 30px;
					&:last-child{
						margin-bottom: 0;
					}
					strong{
						font-size: 18px;
						font-weight: 600;
						color: #333;
					}
				}
				#author-bio-box{
					display: none;
				}
			}
			#tab-additional_information{
				.shop_attributes{
					th{
						color: #000;
						font-size: 15px;
						font-family: $font-default;
					}
					td, th{
						padding: 0 15px;
					}
					td p{
						font-style: normal;
					}
					th{
						border-#{$left}: 1px solid rgba(51, 51, 51, 0.1);
						font-weight: 600;
					}
				}
			}
			.tagged_as{
				a{
					color: $primary_color;
				}
			}
		}
	}
	.product-images-wrapper img {
		background: #fff;
	}
	.woocommerce-notices-wrapper .woocommerce-message {
		margin-bottom: 30px;
	}
	.fancybox-slide--iframe .fancybox-content {
		background: transparent;
		max-width: 1200px;
	}
	.cld-like-dislike-wrap {
		top: 9px;
		.cld-common-wrap a{
			font-size: 14px;
		}
	}
}

.product-list-thumbnails{
	img{
		border: 1px solid transparent;
	}
	.slick-current img{
		border-color: $primary_color;
	}
}
.product_meta {
	> span {
		display: block;
		margin-top: 0;
	}
	a{
		color: #6d6b6c;
		&:hover{
			color: $primary_color;
		}
	}
}
.product-extra {
	background-color: #eaeaea;
	position: relative;
	padding-top: 43px;
	padding-bottom: 54px;
	&:before, &:after{
		position: absolute;
		content: "";
		height: 100%;
		width: 1000vh;
		background-color: #eaeaea;
		top: 0;
	}
	&:before{
		#{$left}: 100%;
	}
	&:after{
		#{$right}: 100%;
	}
	.instagram_title {
		margin-bottom: 50px;
		.title-after {
			top: 8px;
		}
	}
	ul.products li.type-product {
		clear: none !important;
	}
	.slick-arrow {
		position: absolute;
		font-size: 16px;
		border: 1px solid $text_color;
		border-radius: 0;
		padding: 9px 20px 7px;
		line-height: 100%;
		top: -120px;
		color: $text_color;
		&.btn-prev{
			#{$left}: 15px;
		}
		&.btn-next{
			#{$right}: 15px;
		}
		&:hover,
		&:focus,
		&:active{
			color: $primary_color;
			background-color: transparent;
			border-color: $primary_color;
		}
	}
	.product-list {
		.product-content {
			.product-desc {
				height: 100%;
				width: 100%;
				padding: 30px 15px;
				border: 1px dashed #dfdfdf;
				.category-product {
					display: none;
				}
				.desc {
					display: none;
				}
			}
		}
		.product-action .action-item{
			&.add-cart {
				width: auto;
				margin-top: 0;
			}
			&:last-child {
				margin-#{$right}: 10px;
			}
		}
	}
}

.single-delivery {
	display: none;
	position: absolute;
	#{$left}: 50%;
	top: 50%;
	transform: translate($translateX, -50%);
	min-width: 1170px;
	background: #fff;
	.elementor-icon-list-icon {
		padding-#{$right}: 13px;
		i{
			vertical-align: top;
			padding-top: 9px;
		}
	}
}

.contact-delivery{
	text-align: $left;
	h5{
		color: #fff;
		text-transform: uppercase;
		line-height: 24px;
		letter-spacing: 0.025em;
		max-width: 80%;
		font-size: 14px;
		font-weight: 600; 
		margin-bottom: 39px;
	}
	ul.list-info-contact li {
		font-family: $font-default;
		i, .info-content a {
			color: #fff !important;
			font-size: 15px;
			&:hover{
				color: #333; 
			}
		}
		.info-content p{
			color: #fff;
			font-size: 15px;
		}
	}
}
.fancybox-is-open.fancybox-container .fancybox-bg {
	opacity: 0.5;
}
.pswp__ui .pswp__button:hover {
	background: none;
}
button.pswp__button--arrow--left::before, 
button.pswp__button--arrow--right::before {
	background-color: rgba(0, 0, 0, 0.3) !important;
}
.video-product {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	#{$right}: 35px;
	top: 20px;
	z-index: 1;
	text-align: center;
	background: $primary_color;
	line-height: 44px;
	font-size: 20px;
	a{
		color: #fff;
		display: block;
		&:hover, &:focus{
			color: #fff;
		}
	}
}
.delivery-return + form.cart.variations_form {
	padding-top: 15px;
}
.sale_notification_default.beeketing-page-block{
	.wrapper-noti .bkt--brand {
		display: none;
	}
	.wrapper-noti.basic {
		border-radius: 15px;
		padding: 25px 30px;
		width: 525px;
	}
	.wrapper-noti .noti-body a, 
	.wrapper-noti .noti-time a, 
	.wrapper-noti .noti-title a {
		font-size: 13px;
		font-weight: 800;
		text-transform: uppercase;
		font-family: Raleway;
		line-height: 20px;
		letter-spacing: 0.08em;
		border-bottom: 1px dashed #dfdfdf;
		padding-bottom: 10px;
		padding-top: 0;
	}
	.wrapper-noti .product-image {
		margin-#{$right}: 22px;
		width: 92px;
		height: 92px;
	}
	.wrapper-noti .wrapper-theme {
		padding-top: 0;
		padding-bottom: 0;
	}
	.wrapper-noti .noti-body span, 
	.wrapper-noti .noti-time span, 
	.wrapper-noti .noti-title span {
		font-size: 13px;
		font-family: Domine;
		line-height: 22px;
	}
	.wrapper-noti .noti-time {
		font-size: 14px;
		bottom: 2px;
		font-family: Domine;
	}
}
@media (min-width: 1200px) and (max-width: 1570px){
	.single-delivery {
		height: 500px;
		overflow-y: scroll;
		overflow-x: hidden;
		.fancybox-close-small {
			#{$right}: 15px;
			top: 15px;
		}
	}
}
@media (min-width: 1200px){
	.single_2, .single_3{
		.product-images-wrapper{
			flex: 0 0 44.5%;
			max-width: 44.5%;
		}
		.product-detail-summary{
			flex: 0 0 55.5%;
			max-width: 55.5%;
		}
	}
	.single_4{
		.col-xl-5{
			flex: 0 0 44.5%;
			max-width: 44.5%;
		}
		.col-xl-7{
			flex: 0 0 55.5%;
			max-width: 55.5%;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.woocommerce div.entry-summary form.cart .woocommerce-grouped-product-list.group_table {
		thead th,
		tbody td{
			padding: 15px;
			&:first-child {
				width: 60%;
			}
		}
	}
	.single_4{
		.col-xl-5{
			flex: 0 0 100%;
			max-width: 100%;
		}
		.col-xl-7{
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
	.woocommerce div.entry-summary form.cart.variations_form ~ .compare.button, 
	.woocommerce div.entry-summary form.cart.variations_form ~ .yith-wcwl-add-to-wishlist {
		position: static;
	}
	.single-delivery .elementor-section-wrap .elementor-section.elementor-section-boxed > .elementor-container {
		max-width: 1140px;
	}
}
@media (max-width: 1199px){
	.single-delivery {
		min-width: calc(100% - 60px);
	}
	.single-product .product-detail.single_4 .product-tab {
		border: none;
		padding: 0;
		padding-top: 20px;
	}
}
@media (min-width: 992px){
	.col-xl-12.main-sidebar #reviews #respond.comment-respond{
		width: 50%;
	}
	.col-xl-6.has-sidebar{
		.product-detail{
			.col-xl-6 {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
	.slimScrollDiv{
		div.summary {
			padding-#{$right}: 30px;
		}

	}
	.woocommerce .slimScrollDiv div.entry-summary form.cart.grouped_form ~ .compare,
	.woocommerce .slimScrollDiv div.entry-summary form.cart.grouped_form + .yith-wcwl-add-to-wishlist,
	.woocommerce .slimScrollDiv div.entry-summary form.cart.variations_form ~ .compare.button, 
	.woocommerce .slimScrollDiv div.entry-summary form.cart.variations_form ~ .yith-wcwl-add-to-wishlist {
		position: static;
		float: none;
	}
	.woocommerce .slimScrollDiv div.entry-summary form.cart.variations_form {
		margin-bottom: 30px;
	}
	.woocommerce .slimScrollDiv div.entry-summary form.cart.grouped_form + .yith-wcwl-add-to-wishlist{
		margin-#{$left}: 0;
	}
	.woocommerce .slimScrollDiv div.entry-summary form.cart.grouped_form {
		padding-bottom: 30px;
	}
	.product-extra {
		margin-top: 110px;
		margin-bottom: -110px;
	}
	.single-product .wrapper {
		padding-bottom: 110px;
	}
}
@media (min-width: 768px) and (max-width: 992px){
	.product-detail,
	.product-detail + .product-tab {
		max-width: 700px;
		margin: 0 auto;
	}
}
@media (max-width: 991px){
	.single-product{
		.main-sidebar.has-sidebar {
			padding-bottom: 0;
		}
		.wrapper {
			padding-top: 80px;
		}
		.active-sidebar {
			padding-bottom: 80px;
		}
		.main-sidebar {
			padding-bottom: 50px;
		}
		.up-sells{
			margin-top: 20px;
		}
		div.product {
			.woocommerce-tabs{
				ul.tabs {
					padding: 0;
					margin: 0 -14px;
					li{
						margin-#{$left}: 14px; 
						margin-#{$right}: 14px;
						a {
							min-width: auto;
							padding-#{$left}: 15px; 
							padding-#{$right}: 15px;
						}
					}
				}
				.tab-content #tab-description p {
					margin-bottom: 15px;
				}
				#reviews #comments h2 {
					font-size: 22px;
				}
			}
			.woocommerce-tabs .panel {
				margin-bottom: 30px;
			}
		}
		div.images {
			margin-bottom: 0 !important;
		}
	}
	.woocommerce{
		div.entry-summary{
			form.cart{
				button[type="submit"] {
					height: 40px;
				}
			}
			.product_title{
				font-size: 22px;
			}
		}
		
		#reviews .comment-reply-title{
			font-size: 22px;
		}
	} 
	
	.product-extra {
		padding-top: 0;
		padding-bottom: 35px;
	}
	.product-tab {
		margin-top: 20px;
	}
	.woocommerce div.entry-summary form.cart .woocommerce-grouped-product-list.group_table {
		width: 100%;
	}
	.woocommerce .single_3 div.entry-summary {
		margin-bottom: 80px;
	}
	.woocommerce div.entry-summary form.cart.grouped_form + .yith-wcwl-add-to-wishlist,
	.woocommerce div.entry-summary form.cart.grouped_form ~ .compare {
		bottom: 3px;
	}
}
@media (max-width: 767px){
	.single-product {
		.product-detail.single_1 .slick-dots {
			#{$left}: 24px;
			li {
				height: 41px;
			}
		}
	}
	.woocommerce .single_3 div.entry-summary {
		margin-bottom: 0;
	}
	.contact-delivery h5 {
		max-width: 100%;
	}
	.single-delivery {
		height: 500px;
		overflow-y: auto;
		overflow-x: hidden;
		.humburger-content {
			padding: 12px 15px 0 15px;
		}
	} 
	.fancybox-inner .single-delivery .fancybox-close-small {
		#{$right}: 0;
		top: 0;
	}
	.woocommerce #reviews { 
		.review-left {
			padding-#{$right}: 0;
			min-width: 100%;
		}
		.review-right {
			width: 100%;
			padding-#{$right}: 0;
		}
	}
	.woocommerce .product-detail+.product-tab #reviews{
		.review-left,  .review-right{
			float: none;
		}
	}
	
	.comment-group p {
	    width: 100%;
	}
	.product-extra .slick-arrow {
		top: -61px;
		&.btn-prev {
			#{$left}: 15px;
		}
	}
	.single-product .product-detail.single_1 .slick-dots li::before {
		#{$left}: 0px;
		top: 4px;
	}
}
@media (min-width: 481px) and (max-width: 767px){
	div.single-delivery {
		height: 300px;
	} 
}
@media (max-width: 480px){
	.woocommerce div.entry-summary form.cart .woocommerce-grouped-product-list.group_table tbody td:first-child, 
	.woocommerce div.entry-summary form.cart .woocommerce-grouped-product-list.group_table thead th:first-child {
		width: 60%;
	}
	.woocommerce div.entry-summary form.cart .woocommerce-grouped-product-list.group_table tbody td, 
	.woocommerce div.entry-summary form.cart .woocommerce-grouped-product-list.group_table thead th {
		padding: 15px;
	}
	.single-product div.product .woocommerce-tabs ul.tabs li {
		width: 100%;
		text-align: center;
	} 
	.woocommerce div.entry-summary form.cart {
		width: 100%;
	}
	.woocommerce #reviews .review-left, 
	.woocommerce #reviews .review-right {
		display: block;
	}
	.woocommerce div.entry-summary form.cart.variations_form ~ .compare.button, 
	.woocommerce div.entry-summary form.cart.variations_form ~ .yith-wcwl-add-to-wishlist {
		position: static;
	}
}
.slimScrollBar{
	z-index: 2 !important;
}
.slimScrollRail{
	z-index: 1 !important;
}