/*pricing table*/
.elementor-widget-wrap{
	.elementor-price-table__original-price{
		text-decoration: line-through;
	}
	.elementor-widget-apr-pricing-table{
		min-height: 650px;
		.elementor-price-table__header{
			padding: 0;
		}
		.elementor-price-table__features-list li{
			&:before,
			&:not(:first-child):before{
				content: none;
			}
		}
		
		&:hover{
			.elementor-widget-container{
				border-color: transparent;
				margin-top: -30px;
				@include transition(all 0.3s);
			}
			.elementor-price-table{
				padding-bottom: 103px;
				-webkit-box-shadow: 0px 0px 25px 0px rgba(0, 1, 1, 0.16);
				-moz-box-shadow:    0px 0px 25px 0px rgba(0, 1, 1, 0.16);
				box-shadow:         0px 0px 25px 0px rgba(0, 1, 1, 0.16);
			}
			.elementor-price-table__footer{
				.elementor-price-table__button{
					color: #fff;
				}
			}
		}
		.elementor-widget-container{
			background: #fff;
			border: 1px solid #ebebeb;
		}
		.elementor-price-table{
			padding: 58px 20px 42px;
			text-align: center;
			overflow: hidden;
			@include transition(all 0.3s);
			position: relative;
		}
		.elementor-price-table__header{
			background-color: #2a2a2a;
			display: inline-block;
		    position: absolute;
		    #{$right}: -44px;
		    transform: rotate(45deg);
		    top: 27px;
			.elementor-price-table__heading{
				text-transform: uppercase;
				color: #fff;
				font-size: 16px;
			    margin: 0;
			    padding: side-values(12px 38px);
				width: 185px;
				font-family: 'Poppins', sans-serif;
			}
		}
		.elementor-price-table__features-list{
			color: #b0afaf;
			li{
				font-weight: 500;
			    line-height: 23px;
				padding: 6px 0;
				font-family: 'Poppins', sans-serif;
				&.special{
					color: #282828;
				}
			}
		}
		
		.elementor-price-table__price{
			color: #000;
			padding-top: 16px;
			display: flex;
	    	position: relative;
	    	flex-wrap: wrap;
	    	justify-content: center;
	    	font-family: 'Poppins', sans-serif;
			.elementor-price-table__currency{
				font-weight: 400;
			    font-size: 35px;
			}
			.elementor-price-table__integer-part{
				letter-spacing: 0.01em;
				font-size: 55px;
				padding-#{$left}: 10px;
			}
			.elementor-price-table__period{
				display: block;
				font-weight: 500;
				font-size: 12px;
				color: #696969;
				text-transform: uppercase;
				width: 100%;
				padding-top: 5px;
			}
		}
		.elementor-price-table__footer{
			padding-top: 27px;
			.elementor-price-table__button{
			    color: #000;
				border: 1px solid #000;
				border-radius: 30px;
				font-weight: 600;
			    text-transform: uppercase;
			    padding: 17px 36px;
			    outline: 0!important;
			    min-width: 160px;
			    font-size: 14px;
			    background: transparent;
			    font-family: 'Poppins', sans-serif;
			}
		}
	}
}

@media (max-width:991px) and (min-width: 768px){
	.elementor-widget-apr-pricing-table .elementor-price-table{
		padding-top: 100px;
	}
}
@media (max-width:767px){
	.elementor-widget-apr-pricing-table{
		min-height: 1px;
		padding-bottom: 15px;
		&:hover .elementor-price-table{
			padding-bottom: 70px;
			margin-top: 0;
		}
	}
}
/*end pricing table*/